<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <title>TNP section</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        *{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
        /* Navigation */
.nav-container{
    background: #FFFFFF;
    /* background-color: aqua; */
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav .logo{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;    
}

.nav-items li a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
}
    </style>
</head>

<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    L.
                </div>
                <ul class="nav-items">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/tnpposts/tnpnew">New Post</a>
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        
