body {
    font-family: Arial;
    padding: 20px;
    background-color: whitesmoke !important;

  }
  .tagSection{
    border-radius: 10px;
    margin-left: 10%;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 55%;
    margin-left: 10%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 20%;
    padding-left: 20px;
    margin-right: 10%;
  }
  
  /* Fake image */
  .fakeimg {
    
    /* width:max-content; */
    padding: 20px;
    border-radius: 8px;
    overflow: hidden !important;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #f3fffd !important;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px !important;
  }
  
  .svgHeight{
    height: 20px;
    width: 20px;
    
  }

  /* Clear floats after the columns */
  .rowOur:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  